{{!-- TO BEDZIE RENDEROWANE DO PODSTRONY /editUser --}}

<div class="nameColumnResult row">
    <h1>{{title}}</h1>
    <h4>Tutaj możesz edytować dane Kandydata o id={{person._id}} &#128515;</h4>
    <div class="col-12 wiersz1">
        <div class="row kolumna2" id="editUser">
            <div class="persons black col-12 col-md-12">
                <form action="/saveDatabase" method="get">
                    <div class="col md-12">
                        <h3>Wprowadź nowe dane aby zaktualizować kandydata:</h3>
                        <span>Domyślnie są wpisane dotychczasowe dane</span>
                    </div>
                    <button type="submit" class="btn btn-outline-secondary saveButton">Zapisz</button>
                    <br class="col-md-12">
                    {{#each person}}
                    <div class="opakowanie col-md-6">
                        <label for="imieSave">Imię:</label>
                        <input type="text" name="imieSave" id="imieSave" value="{{Imie}}">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="nazwiskoSave">Nazwisko:</label>
                        <input type="text" name="nazwiskoSave" id="nazwiskoSave" value="{{Nazwisko}}">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="emailSave">Email:</label>
                        <input type="email" name="emailSave" id="emailSave" value="{{Email}}">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="telefonSave">Telefon:</label>
                        <input type="tel" name="telefonSave" pattern="+[0-9]{2} [0-9]{3}-[0-9]{3}-[0-9]{3}" id="telefonSave" value="{{Telefon}}">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="miejscowoscSave">Miejscowość:</label>
                        <input type="text" name="miejscowoscSave" id="miejscowoscSave" value="{{Miejscowosc}}">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="angielskiSave">Angielski:</label>
                        <input type="text" name="angielskiSave" id="angielskiSave" value="{{Angielski}}">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="niemieckiSave">Niemiecki:</label>
                        <input type="text" name="niemieckiSave" id="niemieckiSave" value="{{Niemiecki}}">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="pozostalejezykiSave">Pozostałe języki:</label>
                        <input type="text" name="pozostalejezykiSave" id="pozostalejezykiSave"
                            value="{{Pozostale_Jezyki}}">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="wiekSave">Wiek:</label>
                        <input type="number" name="wiekSave" id="wiekSave" value="{{Wiek}}">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="relokacjaSave">Relokacja "tak"/"nie":</label>
                        <input type="text" name="relokacjaSave" id="relokacjaSave" value="{{Relokacja}}">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="doswiadczenieSave">Doświadczenie kandydata:</label>
                        <input type="text" name="doswiadczenieSave" id="doswiadczenieSave" value="{{Doswiadczenie}}">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="widelkiSave">Widełki kandydata:</label>
                        <input type="text" name="widelkiSave" id="widelkiSave" value="{{Widelki}}">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="dataKontaktuSave">Wprowadź ostatnią date kontaktu:{{Data_kontaktu}}</label>
                        <input type="date" name="dataKontaktuSave" id="dataKontaktuSave">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="linkDoProfiluSave">Linkedin lub Goldenline</label>
                        <input type="url" name="linkDoProfiluSave" id="linkDoProfiluSave" value="{{Link_Do_Profilu}}">
                    </div>
                    <div class="opakowanie col-md-12">
                        <label for="technologieSave">Dopisz technologie:</label>
                        <input type="text" name="technologieSave" id="technologieSave" value="{{Technologie}}">
                    </div>
                    <div class="opakowanie col-md-12">
                        <label for="specjalnoscSave">Wpisz specjalność kandydata np "FulStack Developer"</label>
                        <input type="text" name="specjalnoscSave" id="specjalnoscSave" value="{{Specjalnosc}}">
                    </div>
                    <div class="opakowanie col-md-12">
                        <label for="firmyWspolpracaSave">Dopisz firmy z jakimi kandydat współpracował":</label>
                        <input type="text" name="firmyWspolpracaSave" id="firmyWspolpracaSave"
                            value="{{Firmy_Wspolpraca}}">
                    </div>
                    <div class="opakowanie col-md-12">
                        <label for="komentarzeSave">Komentarz:</label>
                        <input type="text" name="komentarzeSave" id="komentarzeSave" value="{{Komentarze}}">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="rozmowaTechnicznaSave">Rozmowa techniczna - wynik</label>
                        <input type="text" name="rozmowaTechnicznaSave" id="rozmowaTechnicznaSave"
                            value="{{Rozmowa_techniczna}}">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="rozmowaNietechnicznaSave">Rozmowa nietechiczna wynik</label>
                        <input type="text" name="rozmowaNietechnicznaSave" id="rozmowaNietechnicznaSave"
                            value="{{Rozmowa_nietechniczna}}">
                    </div>
                    <div class="opakowanie col-md-12">
                        <label for="idk">ID KANDYDATA</label>
                        <input type="text" name="idk" id="idk" value="{{_id}}">
                    </div>
                    {{/each}}
                    <br class="col-md-12">
                    <button type="submit" class="btn btn-outline-secondary saveButton">Zapisz</button>
                </form>
            </div>
            <a class="back_home" href="./downloadData">&#9194; Powróć do strony głównej</a>
        </div>
    </div>
</div>