<div class="page-header">
    {{!-- title i content to moje zmienne z metody res.tender z pliku index.js --}}

    <h1>{{title}}</h1>
    <div>
        <button>
            <a href="">Legenda i najważniejsze informacje</a>
        </button>
    </div>
    <p>{{content}}</p>
    {{!-- RENDEROWANIE Z BAZY --}}

    {{!-- <form action="" class="generator">
        <label for="">Wybierz płeć:
            <select name="gender" id="" class="gender">
                <option value="female">Kobieta</option>
                <option value="male">Mężczyzna</option>
            </select>
        </label>
        <label for="">Wybierz ilość osób:
            <input class="ileOsob" type="number" name="results" value="10" min="0">
        </label>
        <input type="submit" value="Pobierz" class="pobierz btn btn-primary">
    </form> --}}

    {{!-- UPLOAD Z PLIKÓW --}}
    
</div>

<div class="nameColumnResult row">
    <div class="col-12 wiersz1">
        <div class="row kolumna1">
            <div class="col-md-9">
                <form class="row" action="/wyslijimie" method="get">
                    <div class="col-sm-5 dane_osobowe">
                        <div class="opakowanie">
                            <div class="block">
                                <div class="w-50">
                                    <label for="nazwisko">Wybierz nazwisko:</label>
                                </div>
                                <div class="w-50">
                                    <input type="text" name="nazwisko" id="nazwisko">
                                </div>
                            </div>
                        </div>
                        <div class="opakowanie">
                            <div class="block">
                                <div class="w-50">
                                    <label for="specjalnosc">Wybierz Specjalność:</label>
                                </div>
                                <div class="w-50">
                                    <input type="text" name="specjalnosc" id="specjalnosc">
                                </div>
                            </div>
                        </div>
                        <div class="opakowanie">
                            <div class="block">
                                <div class="w-50">
                                    <label for="miejscowosc">Wybierz miejscowość:</label>
                                </div>
                                <div class="w-50">
                                    <input type="text" name="miejscowosc" id="miejscowosc">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 technologie">
                        <select name="technologie" id="technologie">
                            <option value="">Technologie</option>
                            <option value="html">HTML</option>
                            <option value="css">CSS</option>
                            <option value="sass">Sass</option>
                            <option value="SCSS">Scss</option>
                            <option value="LESS">Less</option>
                            <option value=".NET">.NET</option>
                            <option value="REACT">React.js</option>
                            <option value="VUE">Vue.js</option>
                            <option value="NODE">Node.js</option>
                            <option value="Bootstrap">Bootstrap</option>
                            <option value="PHP">PHP</option>
                            <option value="C++">C++</option>
                            <option value="C#">C#</option>
                            <option value="JAVA">JAVA</option>
                            <option value="SQL">Bazy danych</option>
                            <option value="jQuery">jQuery</option>
                            <option value="XML">XML</option>
                            <option value="Git">Git</option>
                            <option value="Python">Python</option>
                            <option value="RWD">Responsive Web Design</option>
                        </select>
                        <button type="submit" name="pobierz_imie" class="btn btn-outline-danger pobierz">Pobierz</button>
                    </div>
                    <div class="col-sm-4 jezyki">
                        <div class="block">
                            <div class="w-50">
                                <input type="checkbox" id="angielski" name="Angielski" value="angielski"
                                    defaultChecked="false">
                                <label for="angielski">Angielski</label>
                            </div>
                            <div class="w-50">
                                <input type="text" name="angielskiLevel" id="angielskiLevel" style="width:50px">
                            </div>
                        </div>
                        <div class="block">
                            <div class="w-50">
                                <input type="checkbox" id="niemiecki" name="Niemiecki" value="niemiecki"
                                    defaultChecked="false">
                                <label for="niemiecki">Niemiecki</label>
                            </div>
                            <div class="w-50">
                                <input type="text" name="niemieckiLevel" id="niemieckiLevel" style="width:50px">
                            </div>
                        </div>
                        <div class="block">
                            <div class="w-50">
                                <label for="pozostalejezyki" title="Przykład: 'Rosyjski B1 lub Rosyjski'">Wpisz inny język:
                                </label>
                            </div>
                            <div class="w-50">
                                <input type="text" id="pozostalejezyki" name="Pozostale_Jezyki" style="width:100px">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3 colDodajKandydata">
                <form class="row" action="/addedToDatabase" method="post">
                    <button type="submit" class="btn btn-putline-danger dodaj">Dodaj kandydata</button>
                </form>
                <form method="POST" action="/upload-file" enctype="multipart/form-data" class="upload">
                    <div class="fileUpload">
                        <label for="file" class="btn btn-primary">Dodaj plik .json</label>
                        <input id="file" type="file" name="my_file_upload" class="btn btn-primary">
                    </div>
                    <div class="zapisz">
                        <button type="submit" name="btn_my_file_upload" class="btn btn-danger">Zapisz plik .json</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row kolumna2" id="kolumna2">
            {{#each person}}
            <div class="persons col-sm-4">
                <div class="dane">
                    <div class="info name">{{Imie}} {{Nazwisko}}</div>
                    <div class="info">EMAIL: <p>{{Email}}</p>
                    </div>
                    <div class="info">TELEFON: <p>{{Telefon}}</p>
                    </div>
                    <div class="info">MIEJSCOWOŚĆ: <p>{{Miejscowosc}}</p>
                    </div>
                    <div class="info">ANGIELSKI: <p>{{Angielski}}</p>
                    </div>
                    <div class="info">NIEMIECKI: <p>{{Niemiecki}}</p>
                    </div>
                    <div class="info">INNE JĘZYKI: <p>{{Pozostale_Jezyki}}</p>
                    </div>
                    <div class="info">WIEK: <p>{{Wiek}}</p>
                    </div>
                    <div class="info">RELOKACJA: <p>{{Relokacja}}</p>
                    </div>
                    <div class="info">WSPÓŁPRACA Z FIRMAMI: <p>{{Firmy_Wspolpraca}}</p>
                    </div>
                    <div class="info">DOŚWIADCZENIE: <p>{{Doswiadczenie}} lat</p>
                    </div>
                    <div class="info">WYMAGANIA FINANOSOWE: <p>{{Wym_Finansowe}}</p>
                    </div>
                    <div class="info">TECHNOLOGIE: <p>{{Technologie}}</p>
                    </div>
                    <div class="info">KOMENTARZE: <p>{{Komentarze}}</p>
                    </div>
                    <div class="info linkedin">LINKEDIN: <p><a href="{{Link_Do_Profilu}}">{{Link_Do_Profilu}}</a></p>
                    </div>
                    <div class="info">SPECJALNOŚĆ: <p>{{Specjalnosc}}</p>
                    </div>
                    <div class="info">OSTATNI KONTAKT: <p>{{Data_kontaktu}}</p>
                    </div>
                    <div class="info">STATUS: {{Status_Zainteresowany}}</div>
                    <div class="info">Rozmowa techniczna: {{Rozmowa_techniczna}}</div>
                    <div class="info">Rozmowa nietechniczna: {{Rozmowa_nietechniczna}}</div>
                </div>
                
                <div class="row forms">
                    <form class="col-md-6 colForm" action="/editUser" method="get">
                        <input type="checkbox" id="{{_id}}" name="editUser" value="{{_id}}" defaultChecked="true">
                        <label for="{{_id}}"></label>
                        <button type="submit" class="btn btn-outline-secondary">Edytuj</button>
                    </form>
                    <form class="col-md-6 colForm" action="/deleteUser" method="get">
                        <input type="checkbox" id="{{_id}}1" name="deleteUser" value="{{_id}}" defaultChecked="true">
                        <label for="{{_id}}1"></label>
                        <button type="submit" class="btn btn-outline-secondary">Usuń z bazy</button>
                    </form>
                </div>
                

                {{!-- <button>Wgraj Cv</button> --}}
            </div>
            {{/each}}
        </div>
    </div>
</div>

<div class="resultDiv row"></div>

<script>
    //SKRYPT DODAJE ODPOWIEDNIE KLASY DO STYLÓW CSS
    document.addEventListener("DOMContentLoaded", function (event) {
        var parentDOM = document.getElementById("kolumna2");
        var persons = parentDOM.getElementsByClassName("persons");
        var a = 4;
        for (const key in persons) {
            
            if (Object.hasOwnProperty.call(persons, key)) {
                
                {{!-- if (key % 4 == 0) {
                    persons[key].classList.add("black");
                    
                }  --}}
                if(key == a) {
                    console.log(persons.length);
                    persons[key].classList.add("green");
                    a+=6;
                } else if (key % 2 == 1) {
                    persons[key].classList.add("white");
                } else {
                    persons[key].classList.add("black");
                }
                console.log("moje a", a);
            }
        }
    });
</script>
{{!-- <script type="text/javascript">


    getUsers = (e) => {
        e.preventDefault();
        const ileOsob = document.querySelector(".ileOsob").value;
        const plec = document.querySelector('[name = "gender"]').value;
        const apiUrl = `https://randomuser.me/api/?results=${ileOsob}&gender=${plec}`; //adres api
        fetch(apiUrl)
            .then(response => {
                if (response.status !== 200) {
                    throw Error("To nie jest odpowiedź 200");
                } else {
                    return response.json();
                }
            })
            .then(json => pokazUzytkownika(json.results))
            .catch(err => console.log(err))
    }

    const pokazUzytkownika = (tablicaResults) => {
        const resultsDiv = document.querySelector(".resultDiv");
        resultsDiv.innerHTML = '';//czyszczenie przy każdym szukaniu
        tablicaResults.forEach((user) => {
            const item = document.createElement('div');//tworzymy sobie uzytkownika ktorego bedziemy dodawać
            item.className = 'user col-12';
            item.innerHTML = `
                <div class="row">
                    <div class="col-sm-2">
                        <p class="user_name">${user.name.title} ${user.name.first} ${user.name.last}</p>
                        <p class="specjalist">Specjalność:</p>
                        <p class="user_email">Email: ${user.email}</p>
                        <p class="phone">Telefon: ${user.phone}</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="technology">technology</p>
                    </div>
                    <div class="col-sm-1">
                        <p class="experience">doświadczenie</p>
                    </div>
                    <div class="col-sm-1">
                        <p class="language">język</p>
                    </div>
                    <div class="col-sm-3">
                        <p class="date">Data kontaktu: 
                            <input type="date" name="date" value="">
                        </p>
                        <p class="message">Wiadomość</p>
                    </div>
                    <div class="col-sm-1">
                        <button class="edit">edit</button><br>
                        <button class="del">usun</button><br>
                        <button class="upload">dodaj plik CV</button>
                        <button class="save">zapisz</button>
                    </div>
                </div>
            `;
            resultsDiv.appendChild(item);
            console.log(user);
        })
    }
    document.querySelector(".generator").addEventListener("submit", getUsers);
</script> --}}